:root {
    --background-dark: #2F0147;
    --background-light: #9C528B;
    --text-headers-colour: #B9929F;
    --text-paraphs-colour: #E2C2C6;
    --text-paraphs-font: pixelify sans;
    --text-head-font: "Orbitron";
}

* {
    margin: 0px;
    padding: 0px;
}

.nav-bar {
    background-color: var(--background-dark);
}

.nav-headers {
    color: var(--text-headers-colour);
    font-family: var(--text-head-font);
}

.nav-headers:hover {
    color: var(--text-paraphs-colour);
}

.nav-text {
    font-size: large;
}

.text-paragraph {
    font-family: var(--text-paraphs-font);
}

.card-head {
    font-family: var(--text-head-font);
}

.brand {
    font-family: "Nabla", system-ui;
    font-size: xxx-large;
}

.hidden {
    display: none;
}