* {
    padding: 0px;
    margin: 0px;
    font-family: 'Pixelify Sans', cursive;
}

.background {
    background-color: rgb(224, 34, 167);
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    height: 953px;
    background-size: cover;
    background-position: center;
}

main {
    font-size: 25px;
}

.logo {
    width: 65%;
    height: 50px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 5;
    user-select: none;
}

.logo b {
    font: 400 10vh "Vibur";
    color: rgb(0, 255, 255);
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
}

.logo b span {
    animation: blink linear infinite 2s;
}

.logo b span:nth-of-type(2) {
    animation: blink linear infinite 2.75s;
}

.logo b span:nth-of-type(3) {
    animation: blink linear infinite 4.75s;
}

.logo b span:nth-of-type(4) {
    animation: blink linear infinite 5.8s;
}

.logo b span:nth-of-type(5) {
    animation: blink linear infinite 1.7s;
}

.logo b span:nth-of-type(6) {
    animation: blink linear infinite 5.125s;
}

@keyframes blink {
    78% {
        color: inherit;
        text-shadow: inherit;
    }

    79% {
        color: #003f7a;
    }

    80% {

        text-shadow: none;
    }

    81% {
        color: inherit;
        text-shadow: inherit;
    }

    82% {
        color: #0052b1;
        text-shadow: none;
    }

    83% {
        color: inherit;
        text-shadow: inherit;
    }

    92% {
        color: #000769;
        text-shadow: none;
    }

    92.5% {
        color: inherit;
        text-shadow: inherit;
    }
}

.com-creds {
    color: red;
}

.player-creds {
    color: aqua;
}

.cards {
    padding: 10px;
    column-count: 5;
    column-fill: balance;
}

.headings {
    padding: 10px;
    column-count: 5;
    column-fill: balance;

}

.credits {
    column-count: 5;
    column-fill: balance;
}

.text-center {
    text-align: center;
}

.cards-computer-player {
    column-count: 1;
}

.cards-player {
    column-count: 1;
}

.message {
    column-count: 3;
    column-fill: balance;
}

.message-box {
    border: 5px solid rgb(0, 238, 255);
    background-color: rgba(0, 238, 255, 0.644);
    color: aqua;
    overflow: hidden;
    text-overflow: ellipsis;
}

.controls {
    padding: 10px;
    column-count: 6;
    column-fill: balance;
}

.card {
    font-size: 64pt;
}

button {
    width: 100%;
    height: 50px;
    background-color: rgba(255, 0, 0, 0.521);
    border: 3px solid aqua;
    color: aqua;
}

button:hover {
    background-color: rgb(221, 84, 152);
    border-radius: 10px;
    font-size: 20px;
    font-weight: bolder;
}

.description-box {
    column-count: 1;
    text-align: center;
    color: aqua;
}

.name-container {
    columns: 3;
}

.player-name-input {
    width: 99.3%;
    background-color: rgba(0, 238, 255, 0.521);
    color: aqua;
    border: 2px solid aqua;
    border-radius: 2px;
    height: 30px;
    font-size: large;
}

.name-container-dis {
    display: none;
}

.score-container {
    background-color: rgba(0, 238, 255, 0.521);
    color: aqua;
    border: 2px solid aqua;
    border-radius: 2px;
    height: 40px;
    font-size: larger;
}

.scores {
    color: red;
}